<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="SMG.Core" version="1.0.5744.18672" targetFramework="net45" />
  <package id="SMG.Core.Data" version="1.0.5788.14030" targetFramework="net45" />
  <package id="SMG.Core.Data.MongoDB" version="1.0.5788.14032" targetFramework="net45" />
</packages>